main{
  background-color: blanchedalmond; 
}
.item7 p{
position: absolute;
z-index: 5;
bottom: 0px;
}
.grid-container {
    display: grid;
    background-color: blanchedalmond;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto ;
    gap: 20px;
    height: 85vh; 
  }

  .item {
   background-color: #2d2e2e;
    border: 1px solid black;
    color: #fff;
    text-align: center;
  }
  .item1{
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #2d2e2e;
    border: 1px solid black;
    text-align: center;
    color: #fff;

  }
  .item7{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: #2d2e2e;
    border: 1px solid black;
    color: #fff;
    text-align: center;
   position: relative;
  }
  

  
 

